include head 
include navBar 
section.wrapper(style='padding:5rem 0;')
    .container
        .col-sm-8.offset-sm-2.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4.text-center
            form.rounded.bg-white.shadow.p-5
                h3.text-dark.fw-bolder.fs-4.mb-2 Create a Server
                
                
                .form-floating.mb-3
                    input#serverName.form-control(type='text' placeholder='enter server name')
                    label(for='serverName')  Server Name
                .form-floating.mb-3
                    input#serverEndPoint.form-control(type='text' placeholder='opc.tcp://127.0.0.1:4844/freeopcua/server/')
                    label(for='serverEndPoint') Server Endpoint
                .form-floating.mb-3
                    input#userId.form-control(type='text' readonly value=`${user._id}`)
                    label(for='userId') User Id 
                .form-floating.mb-3
                    input#accessId.form-control(type='password' placeholder='Access Id')
                    label(for='accessId') Access Id
                    //- span.password-info.mt-2 Use 8 or more characters with a mix of letters, numbers &amp; symbols.
                .form-floating.mb-3
                    input#dataName.form-control(type='text' placeholder='data name')
                    label(for='dataName') Data Name
                
                button.btn.btn-primary.submit_btn.w-100.my-4(type='submit' ) Create
                button.btn.btn-success.submit_btn.w-100.my-4(style="color:white;")
                    a.text-primary.fw-bold.text-decoration-none(href='/startServer' style="color:white;") Re-start Server
                
include footer 
script(src="/js/serverCreation.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js' integrity='sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==' crossorigin='anonymous' referrerpolicy='no-referrer')
